%h1 Benutzer

= will_paginate @users, :previous_label => h("<"), :next_label => h(">"), :renderer => BootstrapLinkRenderer

%table
  %tr
    %th Email
    %th löschen
  - @users.each do |user|
    %tr
      %td= user.email
      %td= link_button "löschen", user, :method => :delete

= link_button "Neuer User", new_user_path

