%p
  Willkommen #{@resource.email}!
%p Du kannst Deine Bestätigungsemail mit dem Link unten bestätigen
%p= link_to 'Bestätige meinen Account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
