%p
  Willkommen #{@resource.email}!
%p Jemand hat einen Link angefordert mit dem man Dein Passwort ändern kann. Du kannst dies mit dem Link unten tun.
%p= link_to 'Ändere mein Passwort', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Wenn Du den Link nicht angefordert hast, dann ignoriere diese Email.
%p Dein Passwort wird sich nicht ändern bis Du den Link unten geklickt und ein neues vergeben hast.
